{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<main id="site-main" class="site-main bg-gradient-to-b from-[#018686] to-[#00D0CF] flex flex-col justify-center lg:pt-[30%] lg:p-40 lg:pb-0 md:px-20 xs:pt-[33%] 2xs:p-10 2xs:pt-[40%] 2xs:pb-0">

    {{!-- The below code sets tab's heading to blog title --}}
    {{#contentFor "title"}}{{title}} - Medlr{{/contentFor}}

    <article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}
    bg-[#EBEBEB] flex flex-col lg:gap-y-12 sm:gap-y-8 2xs:gap-y-4 items-center w-full rounded-[10px] xl:px-60 lg:px-40 sm:px-20 md:py-20 2xs:p-10">

        <header class="gh-canvas flex flex-col justify-center items-center">
        
            <div class="flex flex-col justify-between w-full gap-y-8 lg:pb-12 sm:pb-8 2xs:pb-4">
                <h1 class="article-title text-black xl:text-6xl lg:text-5xl sm:text-4xl xs:text-3xl 2xs:text-2xl font-black text-center">{{title}}</h1>
                {{!-- <div class="flex flex-row lg:gap-x-12 sm:gap-x-8 2xs:gap-x-6 items-center">
                    <ul class="author-list">
                        {{#foreach authors}}
                        <li class="author-list-item">
                            {{#if profile_image}}
                            <a href="{{url}}" class="author-avatar block border-2 border-white border-solid rounded-full bg-[#e1e1e1] -mx-1 lg:w-[52px] lg:h-[52px] sm:w-[36px] sm:h-[36px]">
                                <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                            </a>
                            {{else}}
                            <a href="{{url}}" class="author-avatar author-profile-image block border-2 border-white border-solid rounded-full bg-[#e1e1e1] -mx-1 lg:w-[52px] lg:h-[52px] sm:w-[48px] sm:h-[48px] xs:w-[36px] xs:h-[36px] 2xs:w-[24px] 2xs:h-[24px]">{{> "icons/avatar"}}</a>
                            {{/if}}
                        </li>
                        {{/foreach}}
                    </ul>

                    <div class="lg:text-2xl sm:text-xl 2xs:text-base flex flex-col">
                        <div class="mb-2 text-[#979797] lg:text-3xl md:text-xl sm:text-lg 2xs:text-base">
                            {{#primary_tag}}
                                <span class="post-card-primary-tag">
                                    <a href="{{url}}">{{name}}</a>
                                </span>
                            {{/primary_tag}}
                            {{#if featured}}
                                <span class="post-card-featured">{{> "icons/fire"}} Featured</span>
                            {{/if}}
                        </div>
                        <h4 class="author-name">{{authors}}</h4>
                        <div class="byline-meta-content">
                            <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                            {{#if reading_time}}
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                            {{/if}}
                        </div>
                    </div>

                </div> --}}
            </div>

            {{#if custom_excerpt}}
                <p class="article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{#match @custom.post_image_style "!=" "Hidden"}}
            {{#if feature_image}}
                <figure class="article-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                    <img
                    class="rounded-[10px]"
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        sizes="(min-width: 1400px) 1400px, 100%"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />
                    {{#if feature_image_caption}}
                        <figcaption class="lg:text-2xl sm:text-xl 2xs:text-base flex flex-col items-center">{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/if}}
            {{/match}}

        </header>

        <section class="gh-content gh-canvas xl:text-4xl lg:text-3xl md:text-xl sm:text-lg 2xs:text-base">
            {{content}}
        </section>
        
        <section class="flex flex-col items-center lg:gap-y-10 sm:gap-y-6 2xs:gap-y-4 xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl 2xs:text-base font-semibold w-[50%] lg:pb-10 sm:pb-5">
            <h1>Share article</h1>

            <div class="flex flex-row lg:gap-x-12 sm:gap-x-8 2xs:gap-x-4">
                <a href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener" class="lg:w-[24px] lg:h-[24px] sm:w-[18px] sm:h-[18px] 2xs:w-[14px] 2xs:h-[14px] bg-white rounded-full">{{> "icons/facebook"}}</a>
                <a href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank" rel="noopener" class="lg:w-[24px] lg:h-[24px] sm:w-[18px] sm:h-[18px] 2xs:w-[14px] 2xs:h-[14px] bg-white rounded-full">{{> "icons/twitter"}}</a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}&amp;title={{encode title}}" target="_blank" rel="noopener" class="lg:w-[24px] lg:h-[24px] sm:w-[18px] sm:h-[18px] 2xs:w-[14px] 2xs:h-[14px] bg-white rounded-full">{{> "icons/linkedin"}}</a>
            </div>

        </section>

        {{#if comments}}
            <section class="article-comments gh-canvas">
                {{comments}}
            </section>
        {{/if}}

    </article>
    <hr class="lg:my-12 sm:my-8 2xs:my-4 bg-black w-[90%] self-center border-0 h-[2px]">
</main>

{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{!-- {{#if @site.members_enabled}}
{{#unless @member}}
{{#unless @site.comments_enabled}}
{{#if access}}
    <section class="footer-cta outer">
        <div class="inner">
            {{#if @custom.email_signup_text}}<h2 class="footer-cta-title">{{@custom.email_signup_text}}</h2>{{/if}}
            <a class="footer-cta-button" href="#/portal" data-portal>
                <div class="footer-cta-input">Enter your email</div>
                <span>Subscribe</span>
            </a>
        </div>
    </section>
{{/if}}
{{/unless}}
{{/unless}}
{{/if}} --}}


{{!-- Read more links, just above the footer --}}
{{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{!-- Read more section --}}
    {{#get "posts" filter="id:-{{id}}" as |more_posts|}}

        {{#if more_posts}}
            <div class="other-posts">
                <h1 class="p-16 text-center text-black xl:text-5xl lg:text-4xl sm:text-3xl xs:text-2xl 2xs:text-xl font-extrabold">You may also like</h1>
                <aside class="px-12 relative">
                    <div class="read-more inner 2xs:grid md:grid-cols-9 2xs:grid-cols-6 lg:gap-x-16 lg:gap-y-28 md:gap-x-12 md:gap-y-20 sm:gap-20 2xs:gap-x-8 2xs:gap-y-20">
                        {{#foreach more_posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </aside>
            </div>

        {{/if}}

    {{/get}}
{{/if}}

{{/post}}