{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<main id="site-main" class="site-main bg-gradient-to-b from-[#018686] to-[#00D0CF] flex flex-col justify-center lg:pt-[30%] lg:p-40 lg:pb-0 md:px-20 md:pt-[27%] md:pb-0 xs:pt-[33%] 2xs:px-10 2xs:pt-[40%] 2xs:pb-0">
<div class="inner posts flex flex-col lg:gap-y-12 sm:gap-y-8 2xs:gap-y-4 items-center w-full rounded-[10px] xl:px-60 lg:px-40 sm:px-20 md:py-20 2xs:p-10">
    <div class="bg-[#EBEBEB] flex flex-col lg:gap-y-12 sm:gap-y-8 2xs:gap-y-4 items-center w-full rounded-[10px] xl:px-60 lg:px-40 sm:px-20 md:py-20 2xs:p-10">

        {{#tag}}
        <section class="post-card post-card-large flex">

            {{#if feature_image}}
            <div class="post-card-image-link">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img class="post-card-image"
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 1000px) 400px, 800px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}"
                />
            </div>
            {{/if}}

            <div class="post-card-content">
            <div class="post-card-content-link">
                <header class="post-card-header">
                    <h2 class="post-card-title text-4xl">{{name}}</h2>
                </header>
                <div class="post-card-excerpt">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
                    {{/if}}
                </div>
            </div>
            </div>

        </section>
        {{/tag}}
        <div class="flex flex-col sm:gap-y-12 2xs:gap-y-8">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

    </div>

    {{pagination}}
    
</div>
</main>
